*, *::after, *::before {
  box-sizing: border-box;
}

#dy-app-container___cs-details-in-checkout {}

.dy-mobile-hidden {
  @media (max-width: 768px) {
    display: none;
  }
}

.dy-mobile-only-hidden {
  @media (max-width: 365px) {
    display: none;
  }
}

.dy-desktop-hidden {
  @media (min-width: 768px) {
    display: none;
  }
}

.dy-tablet-hidden {
  @media (min-width: 365px) {
    display: none;
  }
}

.dy-hidden {
  display: none;
}

.product-tile--sofa:not(.product-search-tile), .product-tile--standard:not(.product-search-tile), .product-tile--flooring:not(.product-search-tile) {
  display: none;
}