@use '../../style/colors.scss' as color;
@use '../../style/font.scss' as font;

.dy-infinite-scroll-trigger {
  display: none;
}

@media (max-width: 768px) {

  .dy-infinite-scroll-trigger {
    display: grid;
    place-items: center;
    width: 100%;
    margin-bottom: 8px;

    p {
      font-size: 14px;
      color: #272727;
      margin: 0;
      margin-bottom: 9px;
      margin-top: -1px;
    }

    button {
      width: 100%;
      height: 40px;
      max-width: 260px;
      border: 1px solid #272727;
      border-radius: 50px;
      font-size: 15px;
      color: #433E3F;
      background-color: #FFFFFF;

      img {
        height: 100%;
      }
    }
  }


  // modify existing related css
  .product-load-more-container {
    display: none;
  }

  .plp-seo-footer {
    margin-top: 24px !important;
  }

}